In [38]:
#start spark session
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,when
spark = SparkSession.builder.appName("Hospital").getOrCreate()

In [39]:
#by using url get the data from github repository
import pandas as pd
from urllib.request import urlretrieve as retrieve

url = "https://raw.githubusercontent.com/sushilpaikrao2/Incubyte_Assignment/main/Customer_df_row.csv"
retr=retrieve(url,'Customer_df_row.csv')
print(retr)

('Customer_df_row.csv', <http.client.HTTPMessage object at 0x00000242C69BAB80>)

In [40]:
#read the CSV file which is retriver from url 
df=spark.read.csv(
    path= 'Customer_df_row.csv',
    sep=",",
    header=True,
    inferSchema=True,
)

In [41]:
df.show(15)
df.printSchema()

+---+-----------+-------------+----------+-------------------+--------------+-------+-----+-------+----------+---------+
|_c0|Customer_Id|Customer_Name| Open_date|Last_Consulted_Date|Vaccination_Id|Dr_Name|State|Country|       DOB|Is_Active|
+---+-----------+-------------+----------+-------------------+--------------+-------+-----+-------+----------+---------+
|  0|        111|     samiksha|2021-06-10|         2022-06-10|           MVD|  piter|   VG|    USA|1994-03-05|        A|
|  1|        123|       Akshay|2021-09-01|         2022-09-02|           MVD|   Paul|   MH|    IND|1994-07-04|        A|
|  2|        345|       Sushil|2021-08-05|         2022-08-05|           CSD|   Alex|   SA|    USA|1995-08-04|        A|
|  3|        432|        pooja|2021-08-06|         2022-08-06|           CSD|  Pooja|   CO|     UK|1995-07-06|        A|
|  4|        456|       Shital|2021-09-05|         2022-10-05|           MVD|   John|   UP|    IND|1994-11-04|        A|
|  5|        541|       Amrish|2021-05-07|         2022-05-07|           MVD|  Pooja|   CA|    USA|1998-03-01|        A|
|  6|        567|        Rakhi|2021-10-11|         2022-10-11|           MVD| Mathew|  BOS|    NYC|1996-07-04|        A|
|  7|        653|        Arjun|2021-02-09|         2022-07-10|           MVD|   John|   SG|     UK|1994-06-07|        A|
|  8|        678|       Chetna|2021-10-11|         2022-10-11|           CSD| Shital|   MH|    IND|1996-07-04|        A|
|  9|        753|         asho|2021-05-08|         2022-05-08|           MVD|  pitet|   KL|    IND|1992-07-07|        A|
| 10|        765|        kajol|2021-02-09|         2022-02-09|           MVD|   Paul|   GJ|    IND|1994-04-08|        A|
| 11|        789|        kedar|2021-05-07|         2022-05-07|           MVD|   Matt|   TN|    IND|1993-02-01|        A|
| 12|        852|         john|2021-05-07|         2022-05-07|           CSD|   Matt|   CO|    USA|1992-07-07|        A|
| 13|        876|       simran|2021-01-08|         2022-01-08|           CSD| Mathew|   AL|     UK|1998-08-03|        A|
| 14|        987|        kumar|2021-04-09|         2022-04-09|           CSD|  Piter|   CO|     UK|1993-10-03|        A|
+---+-----------+-------------+----------+-------------------+--------------+-------+-----+-------+----------+---------+

root
 |-- _c0: integer (nullable = true)
 |-- Customer_Id: integer (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Open_date: string (nullable = true)
 |-- Last_Consulted_Date: string (nullable = true)
 |-- Vaccination_Id: string (nullable = true)
 |-- Dr_Name: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- Is_Active: string (nullable = true)

In [42]:
#create csv file it is row data

df.toPandas().to_csv('C:/Users/net comm15/Desktop/Incubyte_assessment/new/rowdata.csv')

In [43]:
#country wise get the india data
df1=df.filter(col('Country').like('IND'))

In [44]:
#india data
df1.show()

+---+-----------+-------------+----------+-------------------+--------------+-------+-----+-------+----------+---------+
|_c0|Customer_Id|Customer_Name| Open_date|Last_Consulted_Date|Vaccination_Id|Dr_Name|State|Country|       DOB|Is_Active|
+---+-----------+-------------+----------+-------------------+--------------+-------+-----+-------+----------+---------+
|  1|        123|       Akshay|2021-09-01|         2022-09-02|           MVD|   Paul|   MH|    IND|1994-07-04|        A|
|  4|        456|       Shital|2021-09-05|         2022-10-05|           MVD|   John|   UP|    IND|1994-11-04|        A|
|  8|        678|       Chetna|2021-10-11|         2022-10-11|           CSD| Shital|   MH|    IND|1996-07-04|        A|
|  9|        753|         asho|2021-05-08|         2022-05-08|           MVD|  pitet|   KL|    IND|1992-07-07|        A|
| 10|        765|        kajol|2021-02-09|         2022-02-09|           MVD|   Paul|   GJ|    IND|1994-04-08|        A|
| 11|        789|        kedar|2021-05-07|         2022-05-07|           MVD|   Matt|   TN|    IND|1993-02-01|        A|
+---+-----------+-------------+----------+-------------------+--------------+-------+-----+-------+----------+---------+

In [32]:
#create indian data csv file
df1.toPandas().to_csv('C:/Users/net comm15/Desktop/Incubyte_assessment/new/INDdata.csv')

In [45]:
#country wise get the USA data
df2=df.filter(col('Country').like('USA'))
df2.show()

+---+-----------+-------------+----------+-------------------+--------------+-------+-----+-------+----------+---------+
|_c0|Customer_Id|Customer_Name| Open_date|Last_Consulted_Date|Vaccination_Id|Dr_Name|State|Country|       DOB|Is_Active|
+---+-----------+-------------+----------+-------------------+--------------+-------+-----+-------+----------+---------+
|  0|        111|     samiksha|2021-06-10|         2022-06-10|           MVD|  piter|   VG|    USA|1994-03-05|        A|
|  2|        345|       Sushil|2021-08-05|         2022-08-05|           CSD|   Alex|   SA|    USA|1995-08-04|        A|
|  5|        541|       Amrish|2021-05-07|         2022-05-07|           MVD|  Pooja|   CA|    USA|1998-03-01|        A|
| 12|        852|         john|2021-05-07|         2022-05-07|           CSD|   Matt|   CO|    USA|1992-07-07|        A|
+---+-----------+-------------+----------+-------------------+--------------+-------+-----+-------+----------+---------+

In [33]:
#create USA data csv file
df2.toPandas().to_csv('C:/Users/net comm15/Desktop/Incubyte_assessment/new/USAdata.csv')

In [46]:
#country wise get the UK data
df3=df.filter(col('Country').like('UK'))
df3.show()

+---+-----------+-------------+----------+-------------------+--------------+-------+-----+-------+----------+---------+
|_c0|Customer_Id|Customer_Name| Open_date|Last_Consulted_Date|Vaccination_Id|Dr_Name|State|Country|       DOB|Is_Active|
+---+-----------+-------------+----------+-------------------+--------------+-------+-----+-------+----------+---------+
|  3|        432|        pooja|2021-08-06|         2022-08-06|           CSD|  Pooja|   CO|     UK|1995-07-06|        A|
|  7|        653|        Arjun|2021-02-09|         2022-07-10|           MVD|   John|   SG|     UK|1994-06-07|        A|
| 13|        876|       simran|2021-01-08|         2022-01-08|           CSD| Mathew|   AL|     UK|1998-08-03|        A|
| 14|        987|        kumar|2021-04-09|         2022-04-09|           CSD|  Piter|   CO|     UK|1993-10-03|        A|
+---+-----------+-------------+----------+-------------------+--------------+-------+-----+-------+----------+---------+

In [34]:
#create USA data csv file
df3.toPandas().to_csv('C:/Users/net comm15/Desktop/Incubyte_assessment/new/UKdata.csv')

In [47]:
#country wise get the NYC data
df4=df.filter(col('Country').like('NYC'))
df4.show()

+---+-----------+-------------+----------+-------------------+--------------+-------+-----+-------+----------+---------+
|_c0|Customer_Id|Customer_Name| Open_date|Last_Consulted_Date|Vaccination_Id|Dr_Name|State|Country|       DOB|Is_Active|
+---+-----------+-------------+----------+-------------------+--------------+-------+-----+-------+----------+---------+
|  6|        567|        Rakhi|2021-10-11|         2022-10-11|           MVD| Mathew|  BOS|    NYC|1996-07-04|        A|
+---+-----------+-------------+----------+-------------------+--------------+-------+-----+-------+----------+---------+

In [35]:
#create NYC data csv file
df4.toPandas().to_csv('C:/Users/net comm15/Desktop/Incubyte_assessment/new/NYCdata.csv')